

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 footer {
  background-color: #0074C7;
  color: white;
  padding: 2rem;
 }

 footer a.nav-link {
  color: white;
 }

 footer a {
  color: white;
 }

 .search {
  border-radius: 20px;
  border: solid 1px #0074C7;
 }

 .btn {
  border-radius: 20px;
  background-color: #0074C7;
  color: white;
 }

 .btn:hover {
  background-color: #00497C;
  color: white;
 }

 #HomeHeader {
  background-color: #F1F8FC;
  padding: 3rem;
 }

 .lineh2-blue{
  width: 30px;
  height: 10px;
  background-color: #0074C7;
  margin: 5px 0px; 
 }

 .lineh1{
  width: 30px;
  height: 10px;
  background-color: #CD2C2E;
  margin: 5px 0px; 
 }

 h1 {
  padding-bottom: 2rem;
 }

 .lineh2-green{
  width: 30px;
  height: 10px;
  background-color: #82B864;
  margin: 5px 0px; 
 }

 .contact-form {
  background-color: #F1F8FC;
 }

 .body {
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
 }

 .body-contact {
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
 }

 .card {
  margin-bottom: 2rem;
 }
 .submit {
  margin-top: 1rem;
 }

 