@font-face {
    font-family: 'Graphik';
    src: url('./assets/Graphik_Collection/Graphik/Graphik-Black-Trial.otf');
  }

$textColor : #384050;
$mainBlue : #0074c7;
$darkBlue : #00497c;
$lightBlue : #f1f8fc;
$red : #cd2c2e;
$green : #82b864;

body {
    margin: 0;
    font-family: 'Graphik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  footer {
    background-color: #0074C7;
    color: white;
    padding: 2rem;
     a {
        color: white;
        .nav-link {
            color: white;
        }
     }
   }

   @mixin line {
    width: 30px;
    height: 10px;
    margin: 5px 0px; 
   }

   .lineh2-blue {
    @include line;
    background-color: $mainBlue;
   }

   .lineh2-green {
    @include line;
    background-color: $green;
   }

   .lineh1 {
    @include line;
    background-color: $red;
   }

   .search {
    border-radius: 20px;
    border: solid 1px $mainBlue;
   }
  
   .btn {
    border-radius: 20px;
    background-color: $mainBlue;
    color: white;
   }
  
   .btn:hover {
    background-color: $darkBlue;
    color: white;
   }

   #HomeHeader {
    background-color: $lightBlue;
    padding: 3rem;
   }

   .contact-form {
    background-color: $lightBlue;
   }

   @mixin body {
    max-width: 1200px;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem;
   }

   .body-contact {
    @include body;
   }

   .body {
    @include body;
    margin-bottom: 3rem;
   }

   .card {
    margin-bottom: 2rem;
   }
   .submit {
    margin-top: 1rem;
   }

   @media (max-width: 600px) {
    .img-nomobile {
        display: none;
    }
   }

   @media (max-width: 820px) {
    .img-nomobilecontact {
        display: none;
    }
   }