body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 footer {
  background-color: #0074C7;
  color: white;
 }

 footer a.nav-link {
  color: white;
 }

 footer a {
  color: white;
 }

 .search {
  border-radius: 20px;
  border: solid 1px #0074C7;
 }